/* Enter your custom styles here */
.verticalLayoutWithBackground {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ), url('https://cdn.manzlab.com/news/photo/202003/4827_10538_4730.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white; / 텍스트 색상을 흰색으로 설정 /
}

.verticalLayoutWithBackground .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.percentageText {
    font-weight: bold;
    color: orangered;
}

.Text {
    font-weight: bold;
    color: orangered;
}

.font-face {
    font-family: 'Y_Spotlight', sans-serif;
    font-weight: 600;
}

.font-face2 {
    font-family: 'Pretendard-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-face3 {
    font-family: 'Pretendard-Regular', sans-serif;
    font-style: normal;
    font-weight: 900;
}

.font-face4 {
    font-family: 'Pretendard-Regular', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: white !important;
}

.HeaderText {
    font-weight: 800;
    color: white !important;
    background-color : orange;
    text-align: center;
}

.HeaderText2 {

    span {
        font-weight: 600;
    }

}




.rounded-list {
    border-radius: 12.5px; / Adjust the value for desired curvature /
}

.rounded-list .sapmli {
    border-radius: 10px; / Adjust the value for desired curvature */
}